<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
<body>
  <table id='players_table' class='tablesorter'>
    <thead>
      <th>Player</th>
      <th>Team</th>
      <th>Position</th>
      <th>ADP</th>
      <th>Value</th>
      <th></th>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr id="<%= player[:id] %>" class="<%= " drafted" if player[:drafted] %>">
          <td>
            <% if player[:injury] %><img height=16px width=16px src="css/injury.png" /><% end %>
            <% if player[:prospect] %><img height=16px width=16px src="css/fire.png" /><% end %>
            <% if player[:favorite] %><img height=16px width=16px src="css/star.png" /><% end %>
            <%= player[:name] %>
          </td>
          <td><%= player[:team] %></td>
          <td><%= player[:position] %></td>
          <td><%= sprintf("%0.3f", player[:adp]) %></td>
          <td><%= sprintf("%0.3f", player[:value]) %></td>
          <td>
            <% unless player[:drafted] %>
              <form class= "draft" action=<%= "#{player[:table]}/draft" %> method="post">
                <input type="hidden" name="player_id" value=<%= player[:id] %> />
                <input type="submit" value="draft" />
              </form>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id='query'>
    <a href="/">All</a>
    <a href="/offense">Offense</a>
    <a href="/defense">Defense</a>
    <a href="/kickers">Kickers</a><br />
    <form action="/" method="get">
      Position: <input type="text" name="position" /><br />
      Limit: <input type="text" name="limit" /><br />
      Hide Drafted: <input type="checkbox" name="hide-drafted" /><br />
      <input type="submit" value="Search" />
    </form>
  </div>
</body>
<foot>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery-1.7.1.min.js" ></script>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery-tablesorter.min.js" ></script>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery.heatcolor.0.0.1.pack.js" ></script>
  <script>
    $(document).ready(function() { 
      $("#players_table").tablesorter({sortList: [[4,1]]});
      $('#players_table > tbody > tr').heatcolor(function() { return $("td:nth-child(5)",this).text(); });
    });
  </script> 
</foot>
</html>
