<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>Fantasy Football Evaluation</title>
  </head>
<body>
  <table id='players_table' class='tablesorter'>
    <thead>
      <th>Player</th>
      <th>Bye</th>
      <th>Team</th>
      <th>Position</th>
      <th>ADP</th>
      <th>Value</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% @players.each do |player| %>
        <tr id="<%= player[:id] %>" class="<%= " drafted" if player[:drafted] %>">
          <td>
            <% if player[:injury] %><img height=16px width=16px src="css/injury.png" title="injured"/><% end %>
            <% if player[:returner] %><img height=16px width=16px src="css/mail.png" title="returner"/><% end %>
            <% if player[:rookie] %><img height=16px width=16px src="css/fire.png" title="rookie"/><% end %>
            <% if player[:sleeper] %><img height=16px width=16px src="css/alarm-clock.png" title="sleeper"/><% end %>
            <% if player[:favorite] %><img height=16px width=16px src="css/star.png" title="favorite"/><% end %>
            <%= player[:name] %>
          </td>
          <td><%= player[:bye].to_i %></td>
          <td><%= player[:team] %></td>
          <td><%= player[:position] %></td>
          <td><%= player[:adp].to_i %></td>
          <td><%= sprintf("%0.3f", player[:value]) %></td>
          <% unless player[:drafted] %>
            <td>
              <form class= "draft" action=<%= "/draft" %> method="post">
                <input type="hidden" name="position" value="<%= params[:position] %>"/>
                <input type="hidden" name="limit" value="<%= params[:limit] %>" />
                <% if params[:"hide-drafted"] %>
                  <input type="hidden" name="hide-drafted" value/>
                <% end %>
                <input type="hidden" name="player_id" value=<%= player[:id] %> />
                <input type="submit" value="draft" />
              </form>
              </td>
              <td>
              <form class= "take" action=<%= "/take" %> method="post">
                <input type="hidden" name="position" value="<%= params[:position] %>"/>
                <input type="hidden" name="limit" value="<%= params[:limit] %>" />
                <% if params[:"hide-drafted"] %>
                  <input type="hidden" name="hide-drafted" value/>
                <% end %>
                <input type="hidden" name="player_id" value=<%= player[:id] %> />
                <input type="submit" value="take" />
              </form>
            </td>
          <% else %>
            <td /><td />
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id='team'>
    <h5>My Team</h5>
    <% @team.each do |player| %>
      <p><%= "#{player[:position]} #{player[:name]} (#{player[:team]}/#{player[:bye].to_i})" %></p>
    <% end %>
  </div>
  <div id='query'>
    <form action="/" method="get">
      Position: <input type="text" name="position" value="<%= params[:position] %>"/><br />
      Limit: <input type="text" name="limit" value="<%= params[:limit] %>" /><br />
      Hide Drafted: <input type="checkbox" name="hide-drafted" value="<%= params[:"hide-drafted"] %>"/><br />
      <input type="submit" value="Search" />
      <a href="/">All</a>
    </form>
  </div>
  <div id='recommend'>
    <h4 class="left">Recommended</h4>
    <button id='recommend-button'>Find</button>
  </div>
</body>
<foot>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery-1.7.1.min.js" ></script>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery-tablesorter.min.js" ></script>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery.heatcolor.0.0.1.pack.js" ></script>
  <script language="javascript" type="text/javascript" src="/javascripts/recommended.js" ></script>
  <script>
    $(document).ready(function() { 
      $("#players_table").tablesorter({sortList: [[5,1]]});
      $('#players_table > tbody > tr').heatcolor(function() { return $("td:nth-child(6)",this).text(); });
    });
  </script> 
</foot>
</html>
